@use "sass:color";

$primary-color:   #03602c;
$secondary-color: #e18c01;


$success:   #28a745;
$warning:   #ffc107;
$dark:      #1a1a2e;
$light:     #f8f9fa;

// ─── TIPOGRAFÍA ─────────────────────────────────
$font-title: var(--font-title), serif;
$font-body: var(--font-body), sans-serif;
// ─── TAMAÑOS ───────────────────────────────────
$border-radius: 0.5rem;

// ─── ESTILOS BASE ──────────────────────────────
body {
  font-family: $font-title;
}

a {
  text-decoration: none;
}
