@use "base" as *;
@use "sass:color";

.btn-page {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: $border-radius;
  padding: 0.75rem 1.5rem;
  font-size: $font-title;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: color.scale($primary-color, $lightness: -10%);
    color: #fff;
  }
}

// Botón verde sólido del hero home
.btn-explore {
  padding: 12px 28px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important;
  background-color:$primary-color;
  color: #ffffff;
  border: 2px solid #0d5c34;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background-color: darken(#0d5c34, 10%);
    border-color: darken(#0d5c34, 10%);
  }
}

// Botón transparente con borde hero home
.btn-custom {
  padding: 12px 28px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff; // Borde blanco
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background-color: #ffffff;
    color: #0d5c34;
  }
}