@use "base" as *;
@use "sass:color";

.btn-page {
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: $border-radius;
  padding: 0.75rem 1.5rem;
  font-size: $font-title;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: color.scale($primary-color, $lightness: -10%);
    color: #fff;
  }
}

// Botón verde sólido del hero home
.btn-explore {
  padding: 15px 30px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none !important;
  background-color:$primary-color-light;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

// Botón transparente con borde hero home
.btn-custom {
  padding: 15px 30px; 
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;

  &:hover {
    background-color: white;
    color: $primary-color-light;
  }
}

  .button-tour {
    background: $primary-color;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;

    &:hover {
      background: primary-color;
      color: white;
    }
  }