@use "base" as *;


header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}


/* LOGO */
.header-logo-img {
  height: 100px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

/* NAVBAR */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  gap:30px;
  width: 100%;

.nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover,
  &.active {
    color: $secondary-color; 
  }
  @media (max-width: 1740px) {
    font-size: 15px;
    padding: 0 12px; 
  }

  @media (max-width: 1500px) {
    font-size: 14px;
    padding: 0 10px;
  }
}

  .btn {
    transition: all 0.25s ease;
    &:hover {
      background-color: #084d28;
      box-shadow: 0 4px 12px rgba(11, 102, 53, 0.2);
    }
  }

  .whatsapp-icon {
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/* MOBILE */
@media (max-width: 1199.98px) {
  .header-logo-img {
    height: 55px;
  }
}