@use "base" as *;


// bg color utilities
.bg-page {
  background-color: $primary-color  !important;

}

.bg-page-alt {
  background-color: $secondary-color !important;
}
.bg-page-light{
  background-color: #bfdccc80 !important;
}

// Color utilities - use with Bootstrap's text/bg classes
.text-page {
  color: $primary-color !important;
  font-family: $font-title !important;
}

.text-page-alt {
  color: $secondary-color !important;
  font-family: $font-title !important;
}

.text-page-light {
  color: $primary-color-light !important;
  font-family: $font-title !important;
}
.text-page-page{
color: $primary-color; 
}


//tipografia utilities
.font-page {
  font-family: $font-title !important;
}
//altura utilities

.h-80 {
  height: 90vh !important;
}
